<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col"><a routerLink="/event/create">Add Event</a></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events; let i=index">
          <th scope="row">{{ i }}</th>
          <td>{{ event.name }}</td>
          <td>{{ event.address }}</td>
          <td><button class="btn btn-success">Edit</button></td>
          <td><button class="btn btn-primary" routerLink="/event/{{ event.id }}">Check</button></td>
          <td><button class="btn btn-danger" (click)="deleteEvent(i)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
